# IDEA Ignores
*.iml
*.ipr
*.iws
.idea/
local.properties

target/
.settings/
.project
.classpath
bin/
/target

.classpath
.project
.factorypath
project.properties
.settings

gen
target
bin
.apt_generated
tmp
.DS_Store

*~
